@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


.fi-sidebar-nav {
    /*@apply bg-gray-50 dark:bg-gray-950;*/
    background-color: #ffffff;
}
.fi-sidebar-item-active a,.fi-sidebar-item-active a:hover {
    @apply color-white;
}

.fi-sidebar-item-active a span,
.fi-sidebar-item-active a svg,
.fi-sidebar-item-active a svg #icon path{
    @apply color-white;
}
.color-white{
    /* fill: #ffffff !important; */
    color: #ffffff !important;
    background-color:transparent !important;
}
.fi-sidebar-item-active a svg path{
    fill: transparent;
}
.fi-sidebar-item-active
{
    border-radius: 10px;   
}

thead .dark\:bg-white\/5:is(.dark *), thead  .dark\:bg-white\/5
{
    background-color: rgba(255, 240, 234, 1)  !important;
}
thead .dark\:text-white:is(.dark *) 
{
    color: rgba(69, 69, 69, 1) !important;
}

.fi-topbar nav
{
    width: 400px;
    float: right;
    border-radius: 15px;
    margin: 10px 10px 0px 0px;
}
.ring-1 
{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1) !important;
}

.fi-fo-radio .fi-btn
{
    background: #ffffff;
    color: linear-gradient(to right, #8a2be2, #4169e1);
}
input:checked+.\[input\:checked\+\&\]\:hover\:bg-custom-500
{
   
    background-color: linear-gradient(to right, #8a2be2, #4169e1);
    color: #ffffff;
}
.fi-tabs
{
    background: rgb(250 250 250) !important;
    box-shadow: none !important;
}
.fi-tabs-item :focus
{
    background: none;

}

.fi-tabs-item-active
{
    background:  linear-gradient(to right, #8a2be2, #4169e1);
} 
 .fi-tabs-item-active span
{
    color: #ffffff !important;
} 
.fi-sidebar-nav .fi-sidebar-nav-groups
{
    row-gap: 0.5rem;
}
.fi-sidebar-nav .fi-sidebar-nav-groups .fi-sidebar-group .fi-sidebar-group-items
{
    row-gap: 0;
}
.fi-sidebar-nav
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    row-gap:0.5rem;
}
.active
{
    background-color: #fff0ea!important;
    border: 1px solid rgba(var(--primary-600), var(--tw-text-opacity));
}
.fi-btn 
{
    background: linear-gradient(to right, #8a2be2, #4169e1);
    color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.fi-sidebar-nav , .fi-sidebar-header , .fi-topbar, .fi-topbar nav ,.fi-simple-main-ctn 
{
    background-color: rgba(5, 16, 46, 1);
}
.fi-sidebar-nav::-webkit-scrollbar 
{
    display: none;
}
.fi-layout, .fi-simple-main  
{
    background-color: #303649;
}
.fi-sidebar-item-active a, .fi-sidebar-item-active a:hover
{
    background-color: rgba(5, 16, 46, 1);
}
.fi-sidebar-item a:hover
{
     background-color: rgba(5, 16, 46, 1);
}
.fi-simple-header-heading
{
    background-image: linear-gradient(to right, #8a2be2, #4169e1);
    color: transparent;
    background-clip: text;
}
.fi-link span  
{
    color: rgb(255, 255, 255);
}
.fi-form span
{
    color: white;
}
.fi-radio-input 
{
    background-color: linear-gradient(to right, #8a2be2, #4169e1);
}
.fi-ta-row
{
    background-color: #303649;
}
.fi-ta-table ,.fi-pagination ,.fi-ta-pagination ,.fi-ta-header-toolbar,.fi-ta th 
{
    background-color:  rgba(5, 16, 46, 1);
}
.fi-ta-row:hover 
{
    background-color: #303649 !important;
}
.fi-ta-header-cell-label
{
    color: #ffffff;
}
.fi-ta-text-item-label 
{
    color: white;
}

.fi-link-icon
{
    color: #8a2be2;
}

.fi-ta-table .fi-ta-row:nth-child(even),.fi-pagination,.fi-ta-table .fi-ta-row:nth-child(odd)
{
    border:1px solid rgba(5, 16, 46, 1);
}

.fi-header-heading,.fi-fo-field-wrp-label span,.fi-modal-heading
{
    color: white;
}
.fi-modal-content,.fi-modal-header,.fi-modal-footer ,.fi-section   
{
    background-color: rgba(5, 16, 46, 1);
}
.fi-dropdown-panel  
{
    background-color: #303649;
}

.fi-ta-search-field .fi-input-wrp div
{
    background-color: #303649;
    color: white;
}
.fi-dropdown-panel div h4
{
    color: white;
}
 
.fi-modal-content .fi-section 
{
    background-color: #303649;
}
.filepond--label-action,.filepond--label-action:hover
{
    color: rgba(5, 16, 46, 1);
}

.fi-fo-repeater-item-header 
{
    border-bottom: 1px solid #303649;
}
.fi-input-wrp 
{
        border: 1px solid #303649;
}
.fi-fo-repeater-item-content .fi-fo-field-wrp .fi-fo-field-wrp-label span
{
    color: #303649;
}
.fi-fo-rich-editor-toolbar 
{
    border-bottom: 1px solid #303649;
}
.fi-badge 
{
    color: #8a2be2;
}
.fi-fo-tabs,.fi-tabs
{
    background: rgba(5, 16, 46, 1)!important;
}
.fi-section .fi-section-content-ctn,.fi-section-header   
{
    background-color: #303649;
}
.fi-section-header .fi-section-header-heading
{
    color: white;
}
.filament-breezy-grid-section
{
    background-color: rgba(5, 16, 46, 1);
}
.fi-badge span .truncate
{
    color: #303649;
}
.fi-tabs-item-active span .truncate
{
    color: #303649 !important;
}
.fi-ta-empty-state 
{
    background-color: rgba(5, 16, 46, 1);
}
.fi-ta-empty-state-heading 
{
    color: white;
}
.fi-radio-input:checked,.fi-radio-input:checked:hover 
{
    background-color: rgba(5, 16, 46, 1);
    border-color: rgba(5, 16, 46, 1);
}
.fi-radio-input:checked:focus 
{
    ring-color: rgba(5, 16, 46, 0.5);
}
.fi-checkbox-input:checked 
{
    background-color: rgba(5, 16, 46, 1)!important; /* Same background as the radio button */
    border-color: rgba(5, 16, 46, 1)!important; /* Match the border color */
}

.fi-checkbox-input:checked:focus:hover 
{
    box-shadow: 0 0 0 2px rgba(5, 16, 46, 0.5)!important; /* Custom focus ring */
}

.fi-modal-window  
{
    background-color: rgba(5, 16, 46, 1);
}
.fi-modal-footer
{
    border-radius: 20%;
}
.fi-pagination   
{
    border: 1px solid rgba(5, 16, 46, 1)!important;
}
.fi-sidebar-item-button 
{
    background-color: rgba(5, 16, 46, 1);
}

 .fi-ta-content > div:first-child ,.fi-ta-panel 
{
    background-color: rgba(5, 16, 46, 1)!important;
}
.fi-ta-content .fi-ta-record,.fi-ta-content .fi-ta-record:hover
{
    background-color: #303649;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

 .fi-dropdown-list-item 
 {
    background-color: rgba(5, 16, 46, 1);
 }
 .fi-dropdown-panel .fi-dropdown-list:hover
 {
    background-color: rgba(5, 16, 46, 1)!important;
 }
 .fi-dropdown-list-item-label 
 {
    color: white;
 }
 .fi-no-notification div
{
    background-color: #303649;
}
 .fi-no-notification-title 
 {
    color: white;
 }
 .fi-ta-toggle .fi-color-custom 
{
    background: linear-gradient(to right, #8a2be2, #4169e1);
}

.fi-dropdown-list-item:hover 
{
    background-color: rgba(5, 16, 46, 1)!important;
}
.fi-input 
{
    color: black;
}

.fi-pagination>div:nth-child(2)
{
    background-color: #303649;
}
/* new theme from here  */








.fi-main,.fi-layout
{
background-color: #F5F5F5;
}
.fi-ta
{
    border:1px solid  #A9A9A9!important;
    border-radius: 13px;
}
.fi-ta-header-toolbar,.fi-ta th  ,.fi-pagination ,.fi-tabs  ,.fi-ta-content >div:first-child{
    background-color:#c8c8c8 !important ;
}
.fi-ta-row,.fi-ta-record>div:first-child
{
    background-color: #f0f0f0;
}
.fi-ta-table .fi-ta-row:nth-child(even),.fi-pagination,.fi-ta-table .fi-ta-row:nth-child(odd)
{
    border:1px solid #A9A9A9 !important;
}
.fi-ta th
{
    border-left: #A9A9A9 !important;
}
.fi-header-heading 
{
    color: black;
}
.fi-ta-content 
{
    /* overflow-x: hidden; */
}
.fi-ta-header-cell-label ,.fi-ta-text-item-label 
{
    color: black;
}
.fi-breadcrumbs-item 
{
    color: #7F7F7F;
}


.fi-ta-search-field .fi-input-wrp div
{
    background-color:#f0f0f0 ;
    color: white;
}
.fi-input-wrp 
{
    border: none;
}

.fi-input:hover
{
    caret-color: black;
}

.fi-ta-row:hover 
{
    background-color: #f0f0f0 !important;
}
.fi-checkbox-input 
{
    /* opacity: 5%; */
    border: 1px solid black;
    /* border-color:black ; */
    /* box-shadow: -1px -2px 42px 30px rgba(0,0,0,0.64); */
}
input[type="text"]:hover
{
    caret-color: black;
}
.fi-ta-selection-cell 
{
    border-color: #A9A9A9!important;
}
/* .fi-pagination-records-per-page-select .fi-input-wrp 
{ */
    /* border: none; */

/* } */
.fi-pagination .fi-input-wrp {
    border-color: #A9A9A9 !important;
}
.fi-input-wrp div
{
    background-color: white;
}
/* .fi-ta-header-toolbar 
{
    borwwder-bottom: 1px solid #A9A9A9;
} */
 /* */
 .social-auth-btn {
    display: flex;
    justify-content: center; /* Center-aligns the buttons horizontally */
    gap: 10px; /* Adjust the gap between the buttons as needed */
}

.social-auth-btn .fi-btn {
    background: none; 
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    /* box-shadow: none; Remove shadow if any */
    text-align: center; /* Ensure the icon is centered */
    background-color: transparent;
    
}

.social-auth-btn .fi-btn svg {
    width: 40px;  /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
}

.social-auth-btn .fi-btn {
    width: 50px;  /* Adjust button width if needed */
    height: 50px; /* Adjust button height if needed */
    padding: 0;   /* Ensure no extra padding is applied */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.fi-section .fi-section-content-ctn .fi-section-content ,.fi-fo-tabs-tab 
{
    background-color: #c8c8c8;
}
.fi-input-wrp .fi-input,.filepond--root ,.choices,.choices__inner,.choices__placeholder ,.choices__item ,.fi-select-input ,.fi-fo-date-time-picker-display-text-input ,.fi-input-wrp textarea,.fi-fo-repeater-item-header ,.fi-fo-repeater-item-content,.fi-fo-rich-editor-toolbar ,.fi-fo-rich-editor-toolbar div,.prose
{
    background-color: #F0F0F0 !important;
    border: 1px solid #a9a9a9 !important;

}
.choices__placeholder ,.choices__item
{
    border: none!important;
}
.fi-fo-field-wrp-label  span
{
    color: black;
}

.fi-input[type="search"] 
{
    border: none !important;;
}
.fi-fo-rich-editor-toolbar div
{
    border: none!important;
}
span.filepond--label-action
{
    color: #000000;
}
.my-quiz
{
    /* font-size: larger; */
    font-weight: bold;
}
.fi-ta-record>div:first-child
{
    border: 1px solid #a9a9a9;
}
.fi-ta-panel{
    background-color: #F0F0F0!important;
    border: 1px solid #a9a9a9;
}
.my-permission .fi-section-content-ctn  .fi-section-content 
{
    background-color: #f0f0f0!important;
}
.filament-breezy-grid-section
{
    background-color: #c8c8c8;
    padding: 1rem;
}
.filament-breezy-grid-section div .fi-section .fi-section-content-ctn .fi-section-content 
{
    background-color: #f0f0f0!important;
}
.fi-fo-checkbox-list-option-label 
{
    color:black !important;
}

.my-permission .fi-section-content-ctn  .fi-section-content .fi-fo-field-wrp .fi-color-custom  span
{

    color: #000000;
}

.fi-modal-window ,.fi-modal-header , .fi-modal-content , .fi-modal-footer 
{
    background-color: #c8c8c8 !important;
} 
.fi-modal-heading ,.fi-modal-description  button > span , .fi-ta-filters >div>h4 ,.fi-link  >span{
    color: black;
}
.fi-ta-filters 
{
    background-color: #c8c8c8 !important;
}
.fi-ta-header {
    background-color: #c8c8c8 !important;
}
 
.custom-login-form .fi-fo-field-wrp>div .fi-fo-field-wrp-label >span{
    color: #F0F0F0;
} 
.fi-ta-empty-state-heading {
    color: black;

}
.custom-toogle {
    background: linear-gradient(to right, #8a2be2, #4169e1);
    
}
.fi-sidebar-item-label {
    color: #a1a1aa;
}
.fi-simple-header-subheading a>span
{
    color: white;
}

